body, input {
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 11pt;
}

/** LINKS **/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}

/** TABLES **/
th {
	text-align: left;
	vertical-align: top;
}

table.alternate tr:nth-child(2n) {
	background-color: #CCC;
}

table.alternate-body tbody:nth-child(2n) tr {
	background-color: #CCC;
}

table.body_border {
	border-spacing: 0px;
}

table.body_border th {
	border-top: 1px solid black;
}
table.body_border tbody tr:last-child td  {
	border-bottom: 1px solid black;
}

table.body_border tbody tr td:last-child, table.body_border tbody tr th:last-child {
	border-right: 1px solid black;
}

table.body_border tbody tr td:first-child, table.body_border tbody tr th:first-child {
	border-left: 1px solid black;
}

table.body_border tbody tr th:first-child {
	border-left: 1px solid black;
}

td.numeric {
	text-align: right;
}

/** Lists */
ul.help {
	list-style: none;
}

ul.small {
	list-style: none;
	padding: 0px;
	margin:0px;
	font-weight: normal;
	font-size: 70%;
}

/** IMAGES **/
img {
	border: 0px;
}

/** CLASSES **/
.clear {
	clear: both;
}

p.error {
	background-color: red;
	font-weight: bold;
	border: 1px solid black;
	padding: 0.3ex 0.3em;
	margin: 0.7ex 0em;
}

.box_finisher {
	clear: both;
}

.marked {
	background-color: red;
}

ul.menu,
ul.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.menu {
	display: inline-block;
	position: relative;
	z-index: 500;
}

ul.menu li {
	float: left;
	line-height: 3.5ex;
	border: 1px solid black;
	padding: 4px 10px;
}

li.dir:after {
	content: "V";
	padding: 0px 3px;
	border: black solid 1px;
	width: 1.5em;
	text-align: center;
}

ul ul li.dir:after {
	position: absolute;
	left: 11em;
}

ul ul li.dir:hover:after {
	content: ">";
	font-weight: bold;
	position: absolute;
}

ul.menu li:hover {
	position: relative;
	z-index: 502
}

ul.menu ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	list-style: none;
	padding: 0px;
	z-index: 501;
	width: 12em;
}

ul.menu li:hover > ul {
	visibility: visible;
}

ul.menu ul li {
	display: block;
	background-color: white;
	width: 100%;
}

ul.menu ul ul {
	left: 99%;
	top: 1px;
}

.pre {
	white-space: pre;
}

/** DIVS **/
div {
	margin: 0px;
	padding: 0px;
}

/** Special **/
#product_list_container {
	background-color: #eee;
	height: 30ex;
	width: 35em;
	overflow-y: scroll;
	border: solid black 1px;
	padding: 2px;
}
#product_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#product_list li {
	font-size: 10pt;
	color: black;
	list-style: none;
}
.product_price {
	text-align: right;
	display: block;
}
#ean {
	width: 35em;
}
#last_purchase {
	margin-top: 2ex;
	clear: right;
	float: right;
	border: 1px solid black;
	padding: 1ex 1em;
}
#this_purchase {
	float: right;
	border: 1px solid black;
	padding: 1ex 1em;
}

/** Suggestions */
#suggest {
    position: absolute;
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    width: 35em;
}
#suggest div {
    display: block;
    width: 35em;
    overflow: hidden;
    white-space: nowrap;
}
#suggest div.select{ /* keydown, keyup */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* mouse over */
    background-color: #99CCFF;
}

